.contenedor{
    border: 1px solid black;
    color: hsla(0, 0%, 100%, 0.75);
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img{
        width: 80px;
    }
}

.estilo1{
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    .p{
        color: hsla(0, 0%, 100%, 0.75);
    }
}

.estilo2{
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.estilo3{
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botones{
    background: hsl(0, 0%, 95%);
    border-radius: 15px;
    height: 30px;
    width: 110px;
    border: none;
    #sedan{
        color: hsl(31, 77%, 52%);
    }
    #suvs{
        color: hsl(184, 100%, 22%);
    }
    #luxury{
        color: hsl(179, 100%, 13%);
    }
}

@media only screen and (min-width:1050px){
    .contenedor{
        display: flex;
        flex-direction: row;
    }
}

