//Variables
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);
$Transparent-white: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$Very-light-gray: hsl(0, 0%, 95%); //(background, headings, buttons)
$F-size: 15px;
$F-family:'Lexend Deca', sans-serif;
$F-family2:'Big Shoulders Display', cursive;

.container{
    margin: 25px auto;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    box-sizing: border-box;
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 30px;
        color: $Transparent-white;
        height: 425px;
        img{
            width: 80px;
        }
        h1{
            font-family: $F-family2;
            color: $Very-light-gray;
        }
        p{
            font-family: $F-family;
            font-size: $F-size;
            line-height: 1.5rem;
        }
        button{
            width: 120px;
            height: 40px;
            border-radius: 21px;
            background-color:$Very-light-gray ;
            font-family: $F-family;
            border: none;
        }
        &.sedans{
            background-color: $Bright-orange;
            button{
                color: $Bright-orange;
            }
            button:hover{
                border: 1px solid $Very-light-gray;
                background-color: $Bright-orange;
                color: $Very-light-gray;
            }
        }
        &.suvs{
            background-color: $Dark-cyan;
            button{
                font-family: $F-family;
                color: $Dark-cyan;
            }
            button:hover{
                border: 1px solid $Very-light-gray;
                background-color: $Dark-cyan;
                color: $Very-light-gray;
            }
        }
        &.luxury{
            background-color: $Very-dark-cyan;
            button{
                font-family: $F-family;
                color: $Very-dark-cyan;
            }
            button:hover{
                border: 1px solid $Very-light-gray;
                background-color: $Very-dark-cyan;
                color: $Very-light-gray;
            }
        }
    }
}
@media only screen and (min-width:1050px){
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 45vw;
        width: 1200px;
    }
    div{
        height: 800px;
        width: 250px;
    }
}