.forma{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    transform: rotate(0);
}

@keyframes rotacion{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
